.popup-container__name {
    width: 83.25%;
    height: 27px;
    padding: 0;
    margin: 0;
    border: 0;
    padding-bottom: 30px;
}

@media screen and (max-width: 425px) {
    .popup-container__name {
        width: 84.39%;
    }
}