.profile {
    width: 100%;
    padding-bottom: 51px;
    display: flex;
    align-items: center;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .profile {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 36px;
        width: 90%;
    }
}