.popup__close {
    background-image: url(../../../src/images/Close-Icon.svg);
    background-color: transparent;
    width: 32px;
    height: 32px;
    background-size: cover;
    position: relative;
    z-index: 1;
    border: none;
    padding: 0;
    grid-column-start: 2;
}

.popup__close:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .popup__close {
        width: 20px;
        height: 20px;
        align-self: self-end;
    }
}
