.popup-container__info {
    width: 83.25%;
    height: 27px;
    margin: 0;
    border: 0;
    padding: 0;
    padding-bottom: 48px;
}

@media screen and (max-width: 425px) {
    .popup-container__info {
        width: 84.39%;
        padding-bottom: 45px;
    }
}