.popup-container__info-text {
    width: 83.25%;
    padding: 0;
    padding-bottom: 14px;
    margin-top: 30px;
    border-style: none none solid none;
    border-color: rgba(84, 84, 84, 1);
    border-width: 1px;
}